<ul>
    <li><strong>Nombre</strong>: {{ contacto.nombre }}</li>
    <li><strong>Teléfono</strong>: {{ contacto.telefono }}</li>
    {% if contacto.provincia %}
    <li><strong>Provincia</strong>: {{ contacto.provincia.nombre }}</li>
    {% endif %}
    <li><strong>E-mail</strong>: {{ contacto.email }}</li>
</ul>
